<footer class="footer">
	<div class="row">
		<div class="col-md-7">
			<div class="footer__nav">
				<a class="footer__nav-item " href="index">Главная</a>
				<a class="footer__nav-item " href="about">О нас</a>
				<a class="footer__nav-item " href="contacts">Контакты</a>
			</div>
		</div>
		<div class="col-md-3">
			<a class="footer__vk" href="https://vk.com/transformkrr">
				</a>
			<a class="footer__instagram" href="https://www.instagram.com/transformkrr/">
				</a>
		</div>
		<div class="footer__copyright col-md-2">
			<p>Copyright 2018</p>
		</div>

	</div>
</footer>
