<header class="block-bg-color">
	<div class="row">
		<div class="col-md-5">
			<a href="contacts.html">
				<div class="adress m-3 pl-5 d-none d-md-block">

					<div class="city white-text">
						Краснодар
					</div>
					<div class="street white-text">
						ул.Кожевенная 18
					</div>
				</div>
			</a>
			<div class="emails">
				<div class="email d-none d-md-block"><span class="white-text">transform.krr</span><span class="red-text">@yandex.ru</span></div>
				<div class="email d-none d-md-block"><span class="white-text">transform.krr</span><span class="red-text">@gmail.com</span></div>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<a class=" " href="index.html"><img class="logo-img" src="../img/logo.png" alt="Трансформъ Плюс"></a>
		</div>
		<div class="col-md-5 text-right">
			<div class="text-center text-md-right">
				<div class="p-md-1 pt-4">
					<a href="+79186884442"><span class="red-text">+7 (918)</span> <span class="white-text">688-44-42</span>
			</a></div>
				<div class="p-md-1 d-none d-md-block">
					<a href="+78612980898"><span class="red-text">+7 (861) </span> <span class="white-text">298-08-98</span>
			</a></div>
				<div class="p-md-1 d-none d-md-block">
					<a href="+78612980880"><span class="red-text">+7 (861)</span> <span class="white-text">298-08-80</span>
			</a></div>
				<div class="mobile-bitton-onmap d-inline-block d-md-none my-2"><a class="btn btn-danger" href="contacts.html">Мы на карте</a></div>
			</div>

		</div>
		<div class="col-md-12">
		//= nav.html
			
		</div>

	</div>
</header>
