<nav class="navbar navbar-expand-lg navbar-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Главная</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about.html">О компании</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="external_finish.html">Внешняя отделка зданий</a>
					<a class="dropdown-item" href="internal_finish.html">Внутренняя отделка помещений</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="using_materials.html">Используемые материалы</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Фотографии наших работ</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="examples_of_our_artwork.html">Примеры наших работ</a>
					<a class="dropdown-item" href="examples_of_windows.html">Примеры окон</a>
					<a class="dropdown-item" href="examples_of_balustrades.html">Примеры балюстрад</a>
					<a class="dropdown-item" href="examples_of_promotional_products.html">Примеры негабаритных изделий рекламного назначения</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contacts.html">Контакты</a>
			</li>
		</ul>
	</div>
</nav>
