<nav class="navbar navbar-expand-lg navbar-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Главная</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about"> О&nbsp;нас</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
					<a class="dropdown-item" href="external-finish">Внешняя отделка зданий</a>
					<a class="dropdown-item" href="internal-finish">Внутренняя отделка помещений</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="using-materials">Используемые материалы</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Фотографии наших работ</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
					<a class="dropdown-item" href="examples-of-our-artwork">Примеры наших работ</a>
					<a class="dropdown-item" href="examples-of-windows">Окна</a>
					<a class="dropdown-item" href="examples-of-balustrades">Балюстрады</a>
					<a class="dropdown-item" href="examples-of-promotional-products">Изделия рекламного назначения</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contacts">Контакты</a>
			</li>
		</ul>
	</div>
</nav>
