.external_finished {
	padding-left: 3px;
	padding-right: 3px;
	background-color: $mainColor;
	border-radius: 3px;
	margin-top: 5px;
}

.external_finished__description {
	text-indent: 1em;
	padding: 15px;
	background-color: $mainColor;
	border-radius: 3px;
}
