
.header__city {
	font-size: 1.3em;
}

.header__street {
	font-size: 1.3em;
}

.header__email {
	font-size: 1em;
}

.header__adress {
	background-image: url(../img/iconRedContacts.png);
	background-repeat: no-repeat;
	background-position: 3px 5px;
}

.header__phnumbers {
	font-weight: bold;
	font-size: 1.2em;
}

.header__logo {
	height: 180px;
	margin-top: -7px;
	margin-bottom: -24px;
}

