body {
	max-width: 1920px;
	background-color: #e0dccb;
	//	font-family: 'Alice', serif;
	//	font-family: 'Prata', serif;
	//	font-family: 'Alegreya SC', serif;
	font-family: 'Ledger', serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.container-fluid {
	background-image: url(../img/bg-img.png);
}

header .city {
	font-size: 21px;
}

header .street{
	font-size: 21px;
}
header .email{
	font-size: 16px;
}
header .adress{
	background-image: url(../img/iconRedContacts.png);
	background-repeat: no-repeat;
	background-position: 3px 5px;
}
aside {
	height: 490px;
}

.red-text {
	color: #f44032;
}

.block-bg-color {
	background-color: rgba(0, 0, 0, .5);
}

.logo-img {
	width: 230px;
	height: 180px;
	margin-top: -7px;
	margin-bottom: -24px;
}

.nav-item {
	font-size: 19px;
	text-align: center;
}

.white-text {
	color: #e8e4e4;
}

.phone-number {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	min-width: 200px;
}

.external {
	background-image: url(../img/external.jpg);
	background-repeat: no-repeat;
	height: 490px;
	background-position: 0 0;
}

.tile {
	text-shadow: 2px 2px 1px #000;
	color: #fff;
	padding: 10px;
}

.tile:hover {
	text-decoration: none;
	color: #fff;
}


.tile p,
.tile h2 {}

.bg-shadow {
	background-color: rgba(0, 0, 0, .6);
}

.balustrades {
	background-image: url(../img/balustrades.jpg);
	background-repeat: no-repeat;
	height: 240px;
	background-position: 0 0;
}

.doors-and-windows {
	background-image: url(../img/doors-and-windows.jpg);
	height: 240px;
}

.used-materials {
	height: 240px;
}

.marketing {
	background-image: url(../img/marketing.jpg);
	background-repeat: no-repeat;
	height: 490px;
	background-position: 0 0;
}

.internal {
	height: 240px;
}

.wrapper-blackout {
	width: 100%;
	height: 100%;
}

.wrapper-blackout:hover {
	background-color: rgba(0, 0, 0, .6);
}
