.text-color {
	color: $textColor;
}

body {
	max-width: 1920px;
	background-color: #e0dccb; 
	font-family: 'Ledger', serif;
	color: $secTextColor;
}

h1 {
	font-size: 1.6em;
	text-align: center;
}
h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}


a:hover {
	text-decoration: none;
	color: #000;
}

.about_us p,
.about_materials p,
.content-ex p,
.internal-finished p {
	text-indent: 1em;
}

.container-fluid {
	background-image: url(../img/bg-img2.png);
}


.sec-text {
	color: $secondColor;
}

.sec-bg {
	background: $secondColor;
}

.block-bg-color {
	background-color: $mainColor;
	border-radius: 3px;
}


.white-text {
	color: $textColor;
}



